<div class="container">
  <h1>Welcome to Jamica, mon!</h1>
  <h2>Make a shortened url</h2><br>



  <form id="create_url" action="/urls" method="POST">
    <label for="plain_url">Enter Url: </label>
    <input type="text" name="url[original_url]" id="plain_url">
    <input type="submit" value="Create Url">
  </form>


</div>
